KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/mm/paging.o \
$(ARCHDIR)/mm/vmm.o \
$(ARCHDIR)/mm/pmm.o \
$(ARCHDIR)/mm/heap.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/load_gdt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/load_idt.o